body {
    background: darkmagenta;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

.initNav {
    background-color: #878782;
    color: #5a4545;
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;

}
.initNav a {
    float:right;
    text-align: center;
    padding: 14px;
    font-size: 17px;
    color: darkred;
    text-decoration: none;
}
.initNav a:hover {
    background-color: blue;
    color: #ffffff;
}
.subMain1{
    text-align: center;
    font-size: 18px;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}
   

.topLeft {
    float: left;
    word-wrap: break-word;
    width: 50%;
    
}
 
.topRight {
    float: left;
    width: 50%;
       
}
.bottomLeft {
    margin-top: 50px;
    float: left;
    width: 50%;
}
.bottomRight {
    float:left;
    width: 50%;
    word-wrap: break-word;
   
}

.aboutMe {
    margin-top: 80px;
    padding-top: 10%;
    padding-bottom: 5%;
}
