{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: blue;
}
#introduction {
    width: 265px;
    height: 165px;
    background: rgb(35, 2, 19);
    margin-left: 163px;
    padding-top: 25px;
}