/* Create two equal columns that floats next to each other */
.container {
    margin-left: auto;
    
}
.row {
    display: flex;
    
    padding: 0 4px;
    background-color: #480303;
}
.column {
    flex: 45%;
    padding: 0 4px;
    text-align: center;
}
.column2 {
    flex: 90%;
    text-align: center;
    padding: 70px 0 0 0;
}
.bio {
    flex: 45%;
    text-align: left;
    padding: 70px 0 0 0;
    
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    height: 200px;
  }
#myPic{
    border-radius: 60%;
    border: 2px solid rgb(54, 1, 1);
    overflow: hidden;
}   
h2 {
    text-align: center;
    
}
  
.intColumn {
    display: block;
    padding: 50px;
    margin: auto;
    word-wrap: break-word;
  }
.intColumn2 {
    display: block;
    padding: 50px;
    margin: auto;
    box-sizing: border-box;
      
}
